In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('pokemon_data.csv')

In [8]:
type(df )

pandas.core.frame.DataFrame

In [9]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [24]:
type(df[['#','Name','Attack']])

pandas.core.frame.DataFrame

In [4]:
a = (1,2,3)

In [2]:
t = set()

In [5]:
t.add(a)

In [6]:
t

{(1, 2, 3)}

In [7]:
b = (1,2,3)

In [8]:
print(id(a),id(b))

4531798736 4531799456

In [9]:
if a in t:
    print('a in t')

a in t

In [10]:
if b in t:
    print('b in t')

b in t

In [11]:
a == b

True

In [12]:
a is b

False

In [13]:
ls = [1,1,2,2,3,3,4,4]

In [14]:
ls[0:2],ls[4:6] = ls[4:6],ls[0:2]

In [15]:
ls

[3, 3, 2, 2, 1, 1, 4, 4]

In [ ]:
def reorder():